.navbar-nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-link {
  transition: all 200ms ease;
}

.container-center {
  display: flex;
  justify-content: center;
}

.btn-submit {
  width: 100%;
  transition: all 200ms ease;
}

.card-img-top {
  width: 100%;
  min-width: 150px;
  height: 60vh;
  object-fit: cover;
}

.pagination>.page-item>.page-link {
  background-color: #6c757d;
  color: white;
  border-color: #4C5B5C;
}

.pagination>.page-item.active>.page-link {
  background-color: rgb(var(--color-2));
  border-color: rgb(var(--color-2));
  color: rgb(var(--color-5));
}

#collasible-nav-dropdown {
  outline: 0;
  border: none;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  -moz-outline-style: none;
  outline-style: hidden;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
  transition: all 200ms ease;
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: hidden;
}

.dropdown-menu.show {
  background-color: #4C5B5C;
}

.card.box>i {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(var(--color-1));
  transition: all 100ms ease;
}

.card.box>i:hover {
  color: rgba(var(--color-3));
}

.card.box>i.favorite {
  color: rgba(var(--color-3));
}