.navbar-nav {
  display: flex;
  flex-wrap: wrap;
}

.coso {
  color: "white";
  text-decoration: "none";
  font-weight: "bolder"
}

.nav-item {
  margin: 0 10px 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-item:last-child {
  margin-right: 30px;
}

.nav-link {
  transition: all 200ms ease;
}

.container-center {
  display: flex;
  justify-content: center;
}

.btn-submit {
  width: 100%;
  transition: all 200ms ease;
}

.card-img-top {
  width: 100%;
  min-width: 150px;
  height: 60vh;
  object-fit: cover;
}