body {
  overflow: auto;
  margin: 0;
  padding: 0;
  --color-1: 37, 53, 62;
  --color-2: 95, 158, 160;
  --color-3: 244, 211, 94;
  --color-4: 245, 245, 220;
  --color-5: 252, 255, 247;
  --color-6: 56, 220, 231;
  background-color: rgb(37, 53, 62);
}